[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/oran-gerrit-ric-plt-rtmgr-committers
	owner = group saml/oran-gerrit-ric-plt-rtmgr-committers
	read = group GitHub Replication
[project]
	description = Routing Manager (ric-plt/rtmgr) is a basic RIC platform service, responsible for generating and distributing routing policies to xApps.
